* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: none;
}

html {
    scroll-behavior: smooth;
}

#loginBlock {
    width: 100%;
    height: 100vh;
    background: center center no-repeat;
    background-size: cover;
}

#authBlock {
    width: 350px;
    padding: 1%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.238);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-500%, -50%);
    text-align: center;
    box-shadow: -5px 5px 8px 0px rgba(34, 60, 80, 0.2);
    transition: .5s;
    opacity: 0;
}

#authBlock.activ,
#LogIn.activ,
#Reg.activ {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.btn {
    width: 250px;
    display: block;
    margin: 10px auto;
    height: 25px;
    border-radius: 15px;
    border: 2px solid #00A5F5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background: #00A5F5;
    transition: .3s background linear;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background: #0094de;
    border: 2px solid #0094de;
}

.or {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 10px black;
}

.or::before {
    content: "";
    position: absolute;
    left: 55px;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: #00A5F5;
}

.or::after {
    content: "";
    position: absolute;
    left: 195px;
    top: 50%;
    width: 100px;
    height: 1px;
    background-color: #00A5F5;
}

#LogIn {
    width: 350px;
    padding: 1%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.238);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-500%, -50%);
    box-shadow: -5px 5px 8px 0px rgba(34, 60, 80, 0.2);
    transition: .5s;
    opacity: 0;
}

#LogIn>span,
#Reg>span {
    cursor: pointer;
    transition: .3s;
}

#LogIn>span:hover,
#Reg>span:hover {
    color: #0094de;
}

input[type=text] {
    width: 250px;
    display: block;
    margin: 10px auto;
    height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    transition: .3s background linear;
    color: #000;
    outline: none;
    border: none;
    border-bottom: 1px solid #000;
    background: none;
    transition: .3s border-bottom;
}

input[type=text]:focus {
    border-bottom: 1px solid #00A5F5;
}

#Reg {
    width: 350px;
    padding: 1%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.238);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-500%, -50%);
    box-shadow: -5px 5px 8px 0px rgba(34, 60, 80, 0.2);
    transition: .5s;
    opacity: 0;
}

.lobbyBlock {
    width: 100%;
    height: 100vh;
    background: #F6F2F6;
}

#code_room {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e1d5d967;
    font-family: 'Varela Round', sans-serif;
    font-size: 580px;
}